.contact-form { 
--form-ok-color:green;
--form-error-color:red;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.contact-form >* {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form textarea {
    resize: none;
}

.contact-form legend {
    font-size:1.5rem;
    font-weight: bold;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-form input[type="submit"] {
    width: 70%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form [required]:valid {
    border:thin solid var(--form-ok-color)
}

.contact-form [required]:invalid {
    border:thin solid var(--form-error-color)
}

.container {
    text-align: center;
    margin:auto;
    padding: 150px;
}